/.venv
wrei/backend/__pycache__/*
wrei/backend/*.pyc
wrei/backend/debug_raw.html
*/__pycache__/
wrei/backend/nlp/__pycache__/__init__.cpython-312.pyc
wrei/backend/nlp/__pycache__/llm_scorer.cpython-312.pyc
wrei/backend/scrapers/__pycache__/__init__.cpython-312.pyc
wrei/backend/scrapers/__pycache__/domiporta.cpython-312.pyc
wrei/backend/scrapers/__pycache__/gratka.cpython-312.pyc
wrei/backend/scrapers/__pycache__/morizon.cpython-312.pyc
wrei/backend/scrapers/__pycache__/nieruchomosci_online.cpython-312.pyc
wrei/backend/scrapers/__pycache__/olx.cpython-312.pyc
wrei/backend/scrapers/__pycache__/otodom.cpython-312.pyc
wrei/backend/market/__pycache__/__init__.cpython-312.pyc
wrei/backend/market/__pycache__/trend_analyzer.cpython-312.pyc
wrei/backend/nlp/__pycache__/extractor.cpython-312.pyc
wrei/backend/scrapers/__pycache__/deweloperuch.cpython-312.pyc
wrei/backend/api/__pycache__/alerts.cpython-312.pyc
wrei/backend/api/__pycache__/hunt.cpython-312.pyc
wrei/backend/api/__pycache__/listings.cpython-312.pyc
wrei/backend/api/__pycache__/market.cpython-312.pyc
wrei/backend/api/__pycache__/system.cpython-312.pyc
wrei/backend/data/__pycache__/alerts.cpython-312.pyc
wrei/backend/data/__pycache__/cache.cpython-312.pyc
wrei/backend/data/__pycache__/hunt.cpython-312.pyc
wrei/backend/data/__pycache__/listings.cpython-312.pyc
wrei/backend/data/__pycache__/scrapes.cpython-312.pyc
wrei/backend/data/__pycache__/stats.cpython-312.pyc
wrei/backend/data/__pycache__/transactions.cpython-312.pyc
wrei/backend/market/__pycache__/geocoder.cpython-312.pyc
wrei/backend/cv/__pycache__/vision_scorer.cpython-312.pyc
wrei/debug_scrapers/olx_1778615779_https___www_olx_pl_nieruchomosci_mieszkania_sprzedaz_warszawa_search_filter_floa.html
wrei/debug_scrapers/default_1778615723_https___www_domiporta_pl_mieszkanie_sprzedam_mazowieckie_warszawa_cenaOd_400000_.html
wrei/debug_scrapers/default_1778615725_https___gratka_pl_nieruchomosci_mieszkania_warszawa_cena_od_400000_cena_do_80000.html
wrei/debug_scrapers/default_1778615727_https___www_morizon_pl_mieszkania_warszawa_ps_5Bprice_from_5D_400000_ps_5Bprice_.html
wrei/debug_scrapers/default_1778615780_https___www_domiporta_pl_mieszkanie_sprzedam_mazowieckie_warszawa_cenaOd_400000_.html
wrei/debug_scrapers/default_1778615781_https___gratka_pl_nieruchomosci_mieszkania_warszawa_cena_od_400000_cena_do_80000.html
wrei/debug_scrapers/default_1778615782_https___www_morizon_pl_mieszkania_warszawa_ps_5Bprice_from_5D_400000_ps_5Bprice_.html
wrei/debug_scrapers/olx_1778615723_https___www_olx_pl_nieruchomosci_mieszkania_sprzedaz_warszawa_search_filter_floa.html
wrei/debug_scrapers/otodom_1778615719_https___www_otodom_pl_pl_wyniki_sprzedaz_mieszkanie_mazowieckie_warszawa_warszaw.html
wrei/debug_scrapers/otodom_1778615777_https___www_otodom_pl_pl_wyniki_sprzedaz_mieszkanie_mazowieckie_warszawa_warszaw.html
wrei/scratch/test_scrapers.py
